html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-moz-box-sizing: border-box;
  -moz-moz-box-sizing: border-box;
  -ms-moz-box-sizing: border-box;
  -o-moz-box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif, arial;
  background: url('../img/fondo.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}

/*SECCION LANDING*/
.delay{
  animation-duration: 3s;
  animation-delay: 0.5s;
}
.delay2{
  animation-duration: 3s;
  animation-delay: 1.5s;
}
.delay3{
  animation-duration: 3s;
  animation-delay: 2s;
}
.contenedor{
	max-width: 800px;
	margin: auto;
	position: relative;
}
.landing{
  font-weight: 100;
  height: 700px;
  width: auto;
}
header ul{
	margin: 0;
}
header ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
	margin: 60px 0;
	margin-left: 50px;
	transition: 1s;
}
header ul li:hover{
	background: rgba(255,255,255,.2);
}
header ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}
header ul li:first-child{
	margin-left: 0;
}
.titulo{
  display: inline-block;
  color: #fff;
  font-size: 75px;
  margin-top: 50px;
  border-bottom: 3px solid #fff;
  line-height: 1.3;
  font-weight: 300;
}
.resumen{
  color: #fff;
  margin-top: 4px;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 100;
}
.imagen{
  margin-bottom: 10px;
}
.cambios{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
/*SECCION CRIPTOMONEDAS*/

.criptomonedas{
  height: 500px;
  max-width: 1000px;
  margin: auto;
  background: #e6e6ea;
  padding: 40px 20px;
}
.criptomonedas p{
text-align: justify;
}

.secundario{
font-size: 25px;
margin-bottom: 15px;
}
.info{
  padding: 20px;
  display: inline-block;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.info:hover{
  background: #607D8B;
  color: #fff;
}
.info p{
  font-weight: bold;
  font-style: italic;
}
.info a{
  text-decoration: none;
  color: #000;
}

.info a:hover{
color:#fff;
}
/*SECCION CIRCULACION*/

.circulacion{
  max-width: 1000px;
  margin: auto;
height: 100%;
padding-top: 50px;
background: #f24646;
text-align: center;
color: #fff;
}

.cripto{
color: #000;
background: #f4f4f8;
display: inline-block;
margin: 30px 10px;
text-align: center;
border-radius: 7px;
padding: 10px;
-webkit-transition: 1s;
-o-transition: 1s;
transition: 1s;
}

.cripto:hover{
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
  box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
  -webkit-transition: 1s;
-o-transition: 1s;
transition: 1s;
}

.cripto img{
  margin: 10px 0;
}
/*SECCION INFORMACION*/

.informacion{
  height: 300px;
  background: #fed766;
  text-align: center;
  padding: 100px 0;
  color: #000;
  max-width: 1000px;
  margin: auto;
}

.informacion h2{
  margin-bottom: 20px;
}

.informacion p{
  font-size: 17;
}
/*SECCION cONTACTO*/

.contacto{
  max-width: 1000px;
  margin: auto;
  height: 100%;
  background: #00a5f4;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.contacto form{
  color: #000;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 3px white;
  border-top: 4px solid #536DFE;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea{
  border: 1px solid #536DFE;
  border-radius: 2px;
  padding: 16px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 1em;
  color: #141938;
}
.contacto form input[type="text"]:focus,
.contacto form input[type="email"]:focus,
.contacto form textarea:focus{
  border: 2px solid #3F51B5;
  padding: 15px;
}

.contacto form textarea{
  font-family: 'Roboto', sans-serif, arial;
  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
  min-height: 150px;
}

.btn, form input[type="submit"]{
  padding: 15px;
  background: #ED572A;
  color: #fff;
  font-size: 1em;
  border-radius: 2px;
  border: none;
  float: right;
  cursor: pointer;
}

.btn, form input[type="submit"]:hover{
  background: #E64A19;
}

/*PIE DE PÁGINA*/

footer{
  color: #000;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #e6e6ea;
}
.previa{
  text-decoration: none;
}
/*Boton para el Scroll Up*/
#btnScroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #455A64;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#btnScroll:hover {
  background-color: #546E7A;
}

/*AJUSTE RESPONSIVE*/

@media only screen and (max-width: 700px) {
.landing{
background: url('../img/fondo-telefono.jpg');
background-position: center center;
background-attachment: fixed;
}
footer{
	height: 70px;
}
i{
	display: none;
}
.previa{
	margin-top:5px;
	display: blocK;
}
}
@media (max-width: 1000px) {
  header ul li{
    display: block;
    margin: 0 0 0 0;
  }
  .titulo{
    font-size: 45px;
  }
  .criptomonedas{
    height: 650px;
  }
  .circulacion{
    height: 1550px;
    padding: 20px 30px;
  }
  .cripto{
    display: block;
  }
  .informacion{
    height: 300px;
    padding: 50px 20px;
  }
  .contacto h2{
    padding: 0 25px;
  }
}
@media (max-width: 540px) {
  .criptomonedas{
	height: 700px;
  }
}
@media (max-width: 320px){
	.criptomonedas{
		height: 1500px;
	}
}

@media (max-width: 480px){
	.criptomonedas{
		height: 700px;
	}
}

@media (max-width: 470px){
	.criptomonedas{
		height: 750px;
	}
}

@media (max-width: 370px){
	.criptomonedas{
		height: 1000px;
	}
}
